body {
	background-color: lightblue;
	padding-top: 50px;
	/*font-family: 'Josefin Slab', serif;*/
	font-family: 'Raleway', sans-serif;
	/* default font-size is 14px */
}

.main {
	background-color: white;
	margin-top: 20px;
	padding: 30px;
	text-align: center;
	display: block;
	font-size: 16px;
}

.left {
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
}

img {
	margin: auto;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

@media screen and (min-width:768px) {
/*    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }*/

    .img-left {
        float: left;
        margin-right: 25px;
    }
}